<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>PhotostoryBook web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header(module)">

    <a class="navbar-brand" th:href="@{/}" href="#">PhotostoryBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a th:href="@{/}" href="#" class="nav-link"
                                    th:classappend="${module == 'home' ? 'active' : ''}">Home</a></li>
            <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/login}" href="#" class="nav-link"
                                    th:classappend="${module == 'home' ? 'active' : ''}">Login</a></li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-light" type="submit" value="Logout" />
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/photostories}" href="#" class="nav-link"
                                    th:classappend="${module == 'photostories' ? 'active' : ''}">Photostories</a>
            </li>


        </ul>

    </div>
</nav>

</body>
</html>