<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>PhotostoryBook web service</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css" />
    </head>
    <body>
         <div th:replace="fragments/header :: header(module='photostories')">...</div>
         <div class="container">
             <main>
                 <div class="py-5 text-center">
                     <h1>Photostories</h1>
                     <p class="lead">Please select Login to register as new user or login with your account to access your personal photo stories.</p>
                 </div>

             </main>

         </div>
    </body>
    
</html>
